<header>
  <div class="grid-lg">
    <div class="flex space-between">
      <a class="alignself-center title-site" href="/"><%= config.title %></a>
      <nav class="alignself-center">
        <ul class="flex">
          <% for (var i in theme.nav) { %>
            <li><a class="link-text" href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</header>
